<div class="container">
   <div class="row">
      <div class="col">
         <section class="main">
            <br>
            <div>
               <h1>
                  Products
                  <button type="button" class="btn btn-primary" (click)="redirectNewProductPage()">New Product</button>
               </h1>
            </div>
            <table class="table">
               <thead>
                  <tr>
                     <th>Id</th>
                     <th>SKU</th>
                     <th>Description</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let product of products">
                     <td>{{product.id}}</td>
                     <td>{{product.sku}}</td>
                     <td>{{product.description}}</td>
                     <td>
                        <button type="button" class="btn btn-success" (click)="editProductPage(product)">Edit</button>
                        <button type="button" class="btn btn-danger" (click)="deleteProductPage(product)">Delete</button>
                     </td>
                  </tr>
               </tbody>
            </table>
         </section>
      </div>
   </div>
</div>
