<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
   <div class="container">
      <a class="navbar-brand">Supermarket</a>
      <ul class="nav navbar-nav" routerLinkActive="active">
         <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
         <li class="nav-item"><a class="nav-link" routerLink="address">Address</a></li>
         <li class="nav-item"><a class="nav-link" routerLink="clients">Clients</a></li>
         <li class="nav-item"><a class="nav-link" routerLink="products">Products</a></li>
      </ul>
   </div>
</nav>

<router-outlet></router-outlet>
