<div class="col-sm-6">
   <h1>Login</h1>
   <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <fieldset>
         <div class="form-group">
            <app-extended-input [labelText]="'Username'"
                                [inputErrors]="loginForm.controls['username'].errors"
                                [errorDefs]="{required: 'Username is required',
                                              minlength: 'Username should be at least 3 digits'}">
               <input type="text" class="form-control" formControlName="username">
            </app-extended-input>
         </div>

         <div class="form-group">
            <app-extended-input [labelText]="'Password'"
                                [inputErrors]="loginForm.controls['password'].errors"
                                [errorDefs]="{required: 'Password is required',
                                              minlength: 'Password should be at least 3 digits'}">
               <input type="text" class="form-control" formControlName="password">
            </app-extended-input>
         </div>
      </fieldset>

      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
      <button type="button" class="btn btn-warning" (click)="redirectListingPage()">Cancel</button>
      <pre>{{loginForm.value | json}}</pre>
   </form>
</div>
