<div class="container">
      <div class="row">
         <div class="col">
            <section class="main">
               <div>
                  <br><br>
                  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
                     <fieldset>
                        <div class="form-group">
                           <app-extended-input [labelText]="'Name'"
                                               [inputErrors]="clientForm.controls['name'].errors"
                                               [errorDefs]="{required: 'Name is required',
                                                             minlength: 'Name should be at least 3 digits'}">
                              <input type="text" class="form-control" formControlName="name">
                           </app-extended-input>
                        </div>

                        <div class="form-group">
                              <app-extended-input [labelText]="'Birthday'"
                                                  [inputErrors]="clientForm.controls['birthday'].errors"
                                                  [errorDefs]="{required: 'Birthday is required'}">
                                    <br>
                                    <input matInput [matDatepicker]="datepicker" placeholder="Choose a date" formControlName="birthday">
                                    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                                    <mat-datepicker #datepicker></mat-datepicker>

                              </app-extended-input>
                           </div>
                     </fieldset>

                     <button type="submit" class="btn btn-primary" [disabled]="!clientForm.valid">Submit</button>
                     <button type="button" class="btn btn-warning" (click)="redirectListingPage()">Cancel</button>
                     <pre>{{clientForm.value | json}}</pre>
                  </form>
               </div>
            </section>
         </div>
      </div>
   </div>
